body{
background: radial-gradient(circle, #a7d3bf,#b9d391);
}

.navbar .navbar-nav .nav-link{
margin-left: 3vh;
font-size: 1rem;
transition: all 400ms ease-in-out;
&:hover{
font-weight: 600;
color: #76B297;
transform: scale(1.1);
}
}

a{
text-decoration: none;
color: black;
}

h1, h3{
font-size: 1.5rem;
font-family: "Fjalla One", sans-serif;
}

h6{
font-family: "Fjalla One", sans-serif;
font-size: medium;
}

#titre-profil{
font-size: 1.5rem;
}

p{
font-size: 0.9rem;
}

.photo-cv{
width: 80%;
margin-bottom: 2vh;
border-radius: 50%;
border: 1vh solid #76B297;
}

#telecharger, #contactez-moi{
background-color: rgb(212, 203, 203);
border: 0.2vh solid #76B297;
transition: all 400ms ease-in-out;
margin-top: 1vh;
font-weight: 500;
&:hover{
background-color: #76B297;
transform: scale(1.1);
}
}

.container{
display: flex;
flex-direction:column;
}

.row, #projet1, #projet2, #projet3{
margin-left: 3vh; 
margin-right: 2vh;
}

#col-comp{
margin-left: 0vh; 
margin-right: 2vh;
}

#section-profil, #parcours-resume, #competences-icon, #projet-resume, 
#infos, #formation, #exp, #skills, #competences, #passions{
background-color: white;
padding: 5vh;
}

#projet-resume{
padding-bottom: 20vh;
}

#liste-xp li{
font-size: 1rem;
margin-top: 2vh;
}

#competences-icon img{
width: 4.5vh;
height: 4.5vh;
margin: 2vh ;
}

.icon{
width: 4.5vh;
height: 4.5vh;
margin: 2vh;
}

h2{
margin-top: 2vh;
font-size: 1.5rem;
font-family: "Fjalla One", sans-serif;
}

.img-projet{
width: 100%;
height: 100%;
margin: 3vh 0 5vh 0;
transition: all 400ms ease-in-out;
&:hover{
box-shadow:  1vh 1vh 0.5vh rgba(31, 73, 43, 0.5);
transform: translateY(-1vh);
}
}

.qrcode{
width: 40%;
height: 40%;
margin-top: 5vh;
margin-right: 1vh;
transition: all 300ms ease-in;
&:hover{
transform: scale(2);
}
}

i{
margin-left: 1.4vh;
}


.carousel-item{
transition: transform 1.5s ease-in-out, opacity 1s ease-in;
}


/* Media queries for responsive layout */
@media screen and (max-width: 992px) {
    .equal-height {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    .col-3,
    .col-5,
    .col-4 {
        width: 100%;
        margin-bottom: 10vh;
    }

    .row{
    margin: 0 1vh 0 1vh;
    }

    .qrcode {
        width: 20%;
    }
}

@media screen and (max-width: 425px) {
    .equal-height {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    .col-3,
    .col-5,
    .col-4 {
        width: 100%;
        margin-bottom: 10vh;
    }

    .qrcode {
        width: 12vh;
    }

    #projet-resume{
    padding-bottom: 7vh;
    }
}



